.main-header .container-fluid {
    height: 100vh;
    width: 100%;
    background: url("../img/1615375782838-f890f8.jpg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    text-align: center;
    height: 552px;
    position: relative;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    color: #fff;
    padding: 10px 0;
}
 
.navbar ul li {
    list-style-type: none;
    margin: 0 1rem;
    display: inline-block;
}
.navbar ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    position: relative;
}
.content {
    padding: 0 4rem;
    position: relative;
    margin: 6rem 0;
}
.button {
    background-color: rgba(255, 255, 255, 1);
    color: red;
    padding: 15px 69px;
    margin-top: 2rem;
    border-radius: 15px 20px;
    font-size: 1.2rem;
    position: relative;
    left: 6.8%;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: all 0.6s ease;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    box-shadow: 0 0 2px 3px #fff;
}
.content h1 {
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    
}
.content .breadcrums{
    display: flex;
    list-style-type: none;
    justify-content: center;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .navbar h2 {
        font-size: 2.4rem;
   }
    .button {
        left: 0;
   }
    h1 {
        font-size: 2.9rem;
   }
}
@media screen and (max-width: 350px) {
    .button {
        width: 100%;
        font-size: 1rem;
   }
    h2 {
        font-size: 2rem;
   }
}
.content .dropdown{
    text-align: end;
}

.content .dropdown .btn{
    background-color: #fff;
    padding: 9px 0px;
    width: 39%;
    color: #000;
}
.content .dropdown .btn img{
    text-align: center;
    float: left;
    margin-left: 10px;
    width: 30px;
}
.content .dropdown .dropdown-menu{
    padding: 10px;
}
.content .dropdown .dropdown-menu .LocationCapture__main .LocationCapture__auto{
    display: flex;
}
.content .dropdown .dropdown-menu .LocationCapture__main .LocationCapture__auto .LocationCapture__static, .content .dropdown .dropdown-menu .LocationCapture__main .LocationCapture__auto .CurrentLocation {
    padding: 5px 20px;
}
.content .dropdown .dropdown-menu .LocationCapture__main .LocationCapture__auto .CurrentLocation a{
    color: #000 ;
    font-weight: 600;
}

.content .dropdown .dropdown-menu .LocationCapture__main .LocationCapture__auto .CurrentLocation a{
    display: flex;
}
.content .row{
    padding: 1rem 15rem;
    margin-left: -16rem;
}
.content form {
    display: inline-block;
    margin: 0 auto;
    width:100%;
}
.content .downnav ul{
    display: flex;
    list-style-type: none;
    color: #fff;
    justify-content: center;
}
.content .downnav ul li{
    padding: 0 3px;
}
.content .downnav ul li a{
    color:#fff;
}
.content .pseudo-search {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    background-color: #fff;

    transition: background-color 0.5 ease-in-out;
}
.referal-section .referral-inner .referral-form .pseudo-search {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
    transition: background-color 0.5 ease-in-out;
}
.referal-section .referral-inner .referral-form .pseudo-search input {
    border: 0;
    width: 100%;
}
.referal-section .referral-inner .referral-form .pseudo-search .btn{
    background-color: #000;
    color: #fff;
    width: 100px;
}
.content .pseudo-search input {
    border: 0;
    width: 100%;
}
.content .pseudo-search input:focus {
    outline: none;
}
.content .pseudo-search button, .pseudo-search i {
    border: none;
    background: none;
    cursor: pointer;
}
.content .pseudo-search select {
    border: none;
}
.service-absolute{
    position: relative;
    top: -5rem;
}
.service-absolute .services-list{
    background-color: #fff;
    /* position: relative; */
    border-radius: 10px;
    /* top: -6rem; */
    /* justify-content: center; */
    /* text-align: center; */
    /* margin: auto; */
    /* left: 0rem; */
    padding: 3rem;
    width: 81%;
    /* justify-content: center; */
    /* text-align: center; */
    margin: 0 auto;
}
.service-absolute .services-list{
    box-shadow: 0 8px 26px 0 rgb(0 0 0 / 8%);

}
.service-absolute .services-list .services-ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}
.service-absolute .services-list .services-ul li a img{
    width: 50px;
    margin-bottom: 10px;
}
.service-absolute .services-list .services-ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.service-absolute .services-list .services-ul li{
    padding: 0 1.5rem;
}
.trigger{
    top: 5rem;
}

/* Slick Slider */

.slick-prev, .slick-next {
    position: absolute;
    top: 135%;
    font-size: 1.8rem;
  }
  
  .slick-prev {
    left: 0;
  }
  
  .slick-next {
    right: 0;
  }
  
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .slick-list:focus {
    outline: none;
  }
  
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  
  .slick-track:before,
  .slick-track:after {
      display: table;
      content: '';
  }
  
  .slick-track:after {
      clear: both;
  }
  
  .slick-loading .slick-track {
      visibility: hidden;
  }
  
  .slick-slide {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  
  [dir='rtl'] .slick-slide {
      float: right;
  }
  
  .slick-slide img {
      display: block;
      width: 100%;
  }
  
  .slick-slide.slick-loading img {
      display: none;
  }
  
  .slick-slide.dragging img {
      pointer-events: none;
  }
  .slick-initialized .slick-slide {
      display: block;
  }
  .slick-loading .slick-slide {
      visibility: hidden;
  }
  .slick-vertical .slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  
  .slick-arrow.slick-hidden {
      display: none;
  }
  
  .slide {
      transition: filter .4s;
      margin: 0px 40px;
  }
  
  .fas {
      color: #96bd0b;
  }
  .slick-prev {
      left: 0;
  }
  .slick-prev, .slick-next {
      position: absolute;
      top: 43%;
      font-size: 1.8rem;
  }
  
  .slider {
    max-width: 1200px;
    margin: 0 auto;
  }

  .consult{
      padding: 2rem 0;
  }
  .best-offer {
      padding: 3rem 0;
  }
  .best-offer .slider-heading{
      text-align: center;
  }
  .best-offer .slider-heading h1{
      font-weight: 600;
  }
  .best-offer .slider-heading p{
    font-size: 20px;
  }
  .best-offer .inner-block{
      text-align: center;
  }
  .best-offer .inner-block img{
      background-color: #757575;
      border-radius: 10px;
      transition: 0.5s all ease-in-out;
      margin: 1rem 0;
  }
  .best-offer .inner-block img:hover{
      transform: scale(1.1);
  }
  .best-offer .inner-block h1{
      font-size: 14px;
  }
  .best-offer .inner-block p{
    line-height: 18px;
    font-size: 12px;
    color: #757575;
    margin: 2px 0 0;
  }
  #span-imgs{
      text-align: center;
      padding: 1rem 0;
  }
  #span-imgs h1{
    font-size: 16px;
  }
  #span-imgs img{
    background-color: #757575;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
    margin-bottom: 10px;
  }
  #span-imgs img:hover{
    transform: scale(1.1);
  }
  .referal-section{
    padding: 6rem 5rem;
  }
  .referal-section .referral-inner{
      padding: 0 2rem;
  }
  .referal-section .referral-inner h1{
    line-height: 48px;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    color: #000;
    width: 504px;
  }
  .referal-section .referral-inner p{
    line-height: 26px;
    font-size: 18px;
    text-align: left;
    color: #757575;
    margin: 16px 0 0;
}
.referal-section .referral-inner .referral-form{
    margin: 40px 0 0;
}
.referal-section .referral-inner .app-btn ul{
    list-style-type: none;
    display: flex;
    padding: 2rem 0;
}
.referal-section .referral-inner .app-btn ul li{
    margin: 0 15px;
}
.referal-section .referral-inner .app-btn ul li a img{
    width: 150px;
}
.referal-section .referral-img{
    padding: 5rem;
}
.referal-section .referral-img img{
    width: 100%;
}
footer{
    margin-top: -27rem;
    z-index: 24;
    position: relative;
}
footer .footer-area{
    background-color: #000;
    padding: 1rem 6rem;
}
 
footer .footer-area .Footer__basic ul{
    display: flex;
    list-style-type: none;
    padding: 10px 0 0 0;
    margin-bottom: 0;
    flex-wrap: wrap;
}
footer .footer-area .Footer__basic ul li{
    margin: 10px 15px;
}
footer .footer-area .Footer__basic ul li a{
    color: rgb(182, 178, 178);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}
footer .footer-area .Footer__basic ul li a:hover{
    color:#fff;
}
footer .footer-area .footer-bottom .social-media{
    list-style-type: none;
    display: flex;
    margin: 0;
}
footer .footer-area .footer-bottom .social-media li{
    margin: 0 11px;
}
footer .footer-area .footer-bottom .app-btn ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}
footer .footer-area .footer-bottom .app-btn ul li a img{
    width: 140px;
}
footer .footer-area .footer-bottom .margin-auto{
    margin: auto 0;
}

/* modal */
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */
 
.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.btn-demo {
margin: 15px;
padding: 10px 15px;
border-radius: 0;
font-size: 16px;
background-color: #FFFFFF;
}

.btn-demo:focus {
outline: 0;
}
 
/* modal body */
 
.md-group {
    position: relative;
    margin-bottom: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.md-group input:not([type="submit"]), .md-group input:not([type="reset"]), .md-group textarea, .md-group select, .md-group select.form-control {
    border: none;
    border: 1px solid #ced4da;
    border-radius: 0px;
    background-clip: unset;
    color: transparent;
    padding: 15px;
    height: 40px;
}
.md-group input:not([type="submit"])::placeholder, .md-group input:not([type="reset"])::placeholder, .md-group textarea::placeholder, .md-group select::placeholder, .md-group select.form-control::placeholder {
    color: transparent;
}
.md-group input:not([type="submit"]):focus, .md-group input:not([type="reset"]):focus, .md-group textarea:focus, .md-group select:focus, .md-group select.form-control:focus {
    outline: none;
    border-color: blue;
    box-shadow: none;
    color: #333 !important;
}
.md-group input:not([type="submit"]):focus::placeholder, .md-group input:not([type="reset"]):focus::placeholder, .md-group textarea:focus::placeholder, .md-group select:focus::placeholder, .md-group select.form-control:focus::placeholder {
    color: #dee2e6 !important;
}
.md-group input:not([type="submit"]):focus + label, .md-group input:not([type="reset"]):focus + label, .md-group textarea:focus + label, .md-group select:focus + label, .md-group select.form-control:focus + label, .md-group input:not([type="submit"]):focus .ng2-tag-input-focus + label, .md-group input:not([type="reset"]):focus .ng2-tag-input-focus + label, .md-group textarea:focus .ng2-tag-input-focus + label, .md-group select:focus .ng2-tag-input-focus + label, .md-group select.form-control:focus .ng2-tag-input-focus + label {
    top: 0;
    font-size: rem(12);
}
.was-validated .md-group input:not([type="submit"]):invalid, .was-validated .md-group input:not([type="reset"]):invalid, .was-validated .md-group textarea:invalid, .was-validated .md-group select:invalid, .was-validated .md-group select.form-control:invalid {
    border-bottom: 1.2px solid #fa6541;
}
.was-validated .md-group input:not([type="submit"]):invalid ~ label, .was-validated .md-group input:not([type="reset"]):invalid ~ label, .was-validated .md-group textarea:invalid ~ label, .was-validated .md-group select:invalid ~ label, .was-validated .md-group select.form-control:invalid ~ label {
    color: #fa6541;
}
.md-group input:not([type="submit"]):valid:focus, .md-group input:not([type="reset"]):valid:focus, .md-group textarea:valid:focus, .md-group select:valid:focus, .md-group select.form-control:valid:focus, .md-group input:not([type="submit"]):invalid:focus, .md-group input:not([type="reset"]):invalid:focus, .md-group textarea:invalid:focus, .md-group select:invalid:focus, .md-group select.form-control:invalid:focus {
    outline: none;
    box-shadow: none;
}
.was-validated .md-group input:not([type="submit"]):valid, .was-validated .md-group input:not([type="reset"]):valid, .was-validated .md-group textarea:valid, .was-validated .md-group select:valid, .was-validated .md-group select.form-control:valid {
    border-bottom: 1.2px solid #09c098;
}
.was-validated .was-validated .md-group input:not([type="submit"]):valid ~ label, .was-validated .was-validated .md-group input:not([type="reset"]):valid ~ label, .was-validated .was-validated .md-group textarea:valid ~ label, .was-validated .was-validated .md-group select:valid ~ label, .was-validated .was-validated .md-group select.form-control:valid ~ label {
    color: #09c098;
}
.md-group textarea {
    height: auto;
}
.md-group label {
    margin: 0;
    position: absolute;
    top: 1.5rem;
    pointer-events: none;
    display: block;
    left: 0.75rem;
    transition: all 0.2s ease-in-out;
    color: #adb5bd;
    z-index: 9;
}
.md-group.is-valid {
    border-bottom: 1.2px solid #09c098;
}
.md-group.is-valid ~ label {
    color: #09c098;
}
.md-group.is-invalid {
    border-bottom: 1.2px solid #fa6541;
}
.md-group.is-invalid ~ label {
    color: #fa6541;
}
.md-group.input-group [class*="input-group"] {
    opacity: 0;
    visibility: hidden;
    width: 0;
}
.md-group.input-group .form-control {
    width: 100%;
}
.show-label label {
    color: #4267b2;
    top: -10px;
    left: 0;
    font-size: rem(14);
}
.show-label.input-group [class*="input-group"] {
    opacity: 1;
    visibility: visible;
    width: auto;
}
.show-label.input-group .form-control {
    width: 1%;
}
.show-label .form-control {
    color: #344051 !important;
    padding-left: 46px!important;
}
.show-label .form-control::placeholder {
    color: #dee2e6 !important;
}
.input-group-text {
    border: none;
}
.form-check-input {
    display: none;
}
.form-check-input ~ label:before {
    content: '';
    display: block;
    position: absolute;
    top: rem(3);
    left: 0;
    font-size: rem(16);
    border: 1px solid #ccc;
    border-radius: rem(2);
    transition: all 0.3s ease-in-out;
}
.form-check-input ~ label:after {
    content: '';
    display: block;
    position: absolute;
    top: rem(3);
    left: rem(3);
    content: 'ï€Œ';
    font-family: 'fontawesome';
    color: white;
    font-size: rem(12);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.form-check-input:checked ~ label:before {
    background-color: blue;
    border-color: transparent;
}
.form-check-input:checked ~ label:after {
    opacity: 1;
}
.form-check {
    padding-left: rem(28);
}
.billingform .intl-tel-input .form-control {
    padding-left: 47px !important;
}
.intl-tel-input .flag-dropdown .selected-flag {
    padding: 11px 16px 11px 6px;
}
.intl-tel-input {
    z-index: 99;
    width: 100%;
}
.iti-flag {
    box-shadow: none;
}
.intl-tel-input .selected-flag:focus {
    outline: none;
}
.modal .modal-dialog .modal-content .modal-body .billingform .signup_btn{
    height: 48px;
    width: 100%;
    background-color: #212121;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    min-height: 48px;
}